<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoPulse</title>
  
</head>

<body>
    <header class="header" data-header>
        <div class="container">
          <a href="/" class="logo">
            <img src="./logo.png" width="32" height="32" alt="CryptoPulse logo">
            CryptoPulse
          </a>
          <nav class="navbar" data-navbar>
            <ul class="navbar-list">
              <li class="navbar-item">
                <a href="/index" class="navbar-link" data-nav-link>Cryptocurrency</a>
              </li>
              <li class="navbar-item">
                <a href="/about" class="navbar-link" data-nav-link>About us</a>
              </li>
            </ul>
          </nav>
          <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
    
          <a href="#" class="btn btn-outline">Wallet</a>
    
        </div>
      </header>
    <div>
        <p>
            positive sentiments:
            <%- data.sentiment_votes_up_percentage %> %
        </p>
    </div>
    <div>
        <p>
            negative sentiments:
            <%- data.sentiment_votes_down_percentage %> %
        </p>

    </div>
    <div>
        <p>
            price:$
            <%- data.market_data.current_price["usd"] %>
        </p>
    </div>
    <div>
        <p>
            24h high:$
            <%- data.market_data.high_24h["usd"] %>%
        </p>
        <p>
            24h low:$
            <%- data.market_data.low_24h["usd"] %>%
        </p>
        <p>
            7days change:
            <%- data.market_data.price_change_percentage_7d_in_currency["usd"] %> %
        </p>
    </div>

    
   <script>

   </script>
</body>

</html>